/*
 Some global CSS I generally use for normalizing and improving readability
 */

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #292c34;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
    margin: 0;
}
